<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link rel="shortcut icon" href="./favicon.ico"> 
		<link rel="stylesheet" type="text/css" href="./css/default.css" />
        <link rel="stylesheet" type="text/css" href="./css/component.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
        <script src="js/modernizr.custom.js"></script>
        <script src="https://kit.fontawesome.com/6f7cf48373.js" crossorigin="anonymous"></script>
    </head>

    
    <body>
        <div class="top clearfix">
            <a href="mailto:danikuindersma@gmail.com"><span>✉ danikdraws@gmail.com</span></a>
            <span class="right"><a href="mailto:danikdraws@gmail.com?subject=Commissions">🧝 Commissions</a><a href="https://www.etsy.com/shop/DaniKDraws" target="_blank">🛒 Shop</a><a href="https://ko-fi.com/danikdraws" target="_blank">☕ Buy me a Coffee</a></span>
        </div>
       

        <div class="header">
            <h1>Dani K Draws</h1>
                <h2>artist - illustrator - graphic designer - pixel pusher - product designer - loveable goblin</h2>
            <div class="social">
                <a href="https://www.etsy.com/ca/shop/DaniKDraws" target="_blank"><i class="fab fa-etsy circle-icon"></i></a>
                <a href="https://www.instagram.com/danikdraws/" target="_blank"><i class="fab fa-instagram circle-icon"></i></a>
                <a href="https://www.facebook.com/danikdraws/" target="_blank"><i class="fab fa-facebook-f circle-icon"></i></a>
            </div>
        </div>


        <div class="block"></div>

            <!---
                <br>
              {% include about.html %}--->
            <br>
            {{ content }}
            <br>

     <!---

        <div class="block"></div>

        <div class="footer">
            <h1>Get In Touch</h1>
        </div>
        
        ---->

        <script src="js/masonry.pkgd.min.js"></script>
        <script src="js/imagesloaded.js"></script>
        <script src="js/classie.js"></script>
        <script src="js/AnimOnScroll.js"></script>
        <script>
            new AnimOnScroll( document.getElementById( 'grid' ), {
                minDuration : 0.4,
                maxDuration : 0.7,
                viewportFactor : 0.2
            } );
        </script>
    </body>
</html>